# Configuración del Servidor
PORT=5000

# Conexión a Base de Datos (MongoDB Atlas o Local)
# Ejemplo: mongodb+srv://<usuario>:<password>@cluster.mongodb.net/<nombre_db>
MONGODB_URI=

# Seguridad y Autenticación
# Se recomienda una cadena larga y aleatoria
JWT_SECRET=
JWT_EXPIRES_IN=7d
